body {
  font: 6vh "Verdana", "Trebuchet MS", sans-serif;
  color: black;
  text-align: center;
  background-color: white;
}
select {
    font: 4vh "Verdana", "Trebuchet MS", sans-serif;
    padding: 0.5rem;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid black;
}
button {
  border: 1px solid black;
  font: 4vh "Verdana", "Trebuchet MS", sans-serif;
  color: black;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
#gameBoard {
  display: inline-grid;
  grid: 15vh 15vh 15vh / 15vh 15vh 15vh;
  grid-gap: 0;
}
#gameBoard > div {
  background-color: white;
  border: 1px solid black;
  font-size: 12vh;
  text-align: center;
}
