body {
  font: 8vh "Verdana", "Trebuchet MS", sans-serif;
  color: #00261C;
  text-align: center;
  background-color: #168039;
}
button {
  border: 0;
  font: 6vh "Verdana", "Trebuchet MS", sans-serif;
  color: #96ED89;
  background-color: #45BF55;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
#gameBoard {
  display: inline-grid;
  grid: 20vh 20vh 20vh / 20vh 20vh 20vh;
  grid-gap: 0;
}
#gameBoard > div {
  background-color: #96ED89;
  border: 1px solid #044D29;
  font-size: 15vh;
  text-align: center;
}
