body {
  font: 5vh "Verdana", "Trebuchet MS", sans-serif;
  color: #00261C;
  text-align: center;
  background-color: #168039;
}
#gameBoard {
  display: inline-grid;
  grid: 30vh 30vh 30vh / 30vh 30vh 30vh;
  grid-gap: 0;
}
#gameBoard > div {
  background-color: #96ED89;
  border: 1px solid #044D29;
  font-size: 25vh;
  text-align: center;
}
